# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
* List popular languages for Data Science
* List commonly libraries for Data Science
* Table for Data Science Tools
* Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit-Learn

|  Data Science Tools  |
|  ------------------  |
|  Jupyter Lab  |
|  Apache Spark  |
|  KNIME  |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply the add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Victor Ramirez